@charset "utf-8";


header {
	height: 70px;
}

main p{
	font-family: "Zen Kaku Gothic New", sans-serif;
	padding: 5px 40px 5px 40px;	/*outline: 1px solid red;*/
	line-height: 1.7;
}

main p{
	margin-top: 50px;
	margin-left: 40px;
}

form {
	/*outline: solid 1px red;*/
	max-width: 500px;
	margin: auto;
	width: 320px;
}

main label {
	display: block;
	margin-top: 15px;
}
input, textarea {
	width: 100%;
	padding: 8px;
	margin-top: 5px;
	box-sizing: border-box;
}
button {
	margin-top: 20px;
	padding: 10px 20px;
	background-color: #0078D7;
	color: white;
	border: none;
	cursor: pointer;
}
button:hover {
	background-color: #005a9e;
}

