@charset "utf-8";


header {
	height: 70px;
}

h2 {
	margin-bottom:10px;
}


/*商品一覧設定*/
main dl {
	margin-top: 20px;
	text-align: center;
	padding-top: 30px;
	/*outline: 1px solid red;*/
}

main dd{
	padding-top: 10px;
}

main {
	/*outline: 1px solid red;*/
	display: flow-root;
}

.view {
	clear: left;
	text-align: center;
	padding-top: 40px;
	font-size: 1.125rem;
}

main p a{
	background-color: black;
	color: white;
	border-radius: 20px;
	padding: 7px 30px 7px 40px;
}

main p a:hover {
	color: white;
	border-color: white;
	background-color: #B2D8B2;
}


footer {
	margin-top: 70px;
	/*outline: 1px solid red;*/
}

