@charset "utf-8";


header {
	height: 70px;
}


dl {
	margin: 20px 0  10px 0;
	text-align: center;
}

main dt {
	text-align: center;
	/*outline: 1px solid red;*/
}

main dd {
	text-align: center;
	/*outline: 1px solid red;*/

}

main {
	line-height: 1.7;
}

main{
	margin: auto;
	width: 320px;
}