@charset "utf-8";


header {
	height: 70px;
}

main ul {
	margin-top: 20px;
	margin-left: 40px;
	/*outline: 1px solid red;*/
}

main ul li {
	float: left;
}

main {
	display: flow-root;
}